/* CSS Entry Point */
// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';
$gray: lighten(gray, 15%);

* {
	font-family: Helvetica;
}

h1{
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
}

// h2{
// 	font-family: 'Helvetica';
// }

// MAIN
.main {
	width: 100%;
	div {
		list-style-type: none;
		// display: inline-block;
	}
	.main-header{
		// border: 1px solid red;
		background-color: $gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img{
			width: 225px;
			margin-top: 35px;
		}
	}
}


// DASHBOARD



// SIGNUP LOGIN



// BALLOT

.ballot {
	.ballot-title {
		font-size: 50px;
	}
	form {
		font-size: 40px;
	}
	button {
		height: 20px;
		width: 400px;
	}
}