/* CSS Entry Point */
// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';
$gray: lighten(gray, 15%);
$light-gray: lighten(gray, 35%);

* {
	font-family: Helvetica;
	box-sizing: content-box;
}
h1{
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
}
input, button{
	font-size: 22px;
	margin: 7px;
	border-radius: 3px;
	box-shadow: none;
}

// MAIN

.main {
	width: 100%;
	div {
		list-style-type: none;
		// display: inline-block;
	}
	.main-header, footer{
		// border: 1px solid red;
		background-color: $gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img{
			width: 175px;
			margin-top: 20px;
		}
	}
}

// SIGNUP LOGIN
.login-reg-parent{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	// border: 3px solid blue;
}

.register-form, .login-form{
	width: 300px;
	// border: 1px solid red;
	margin: 0 auto;
}

// DASHBOARD

// BALLOT

.ballot {
	.ballot-title {
		text-align: center;
		font-size: 30px;
	}
	form {
		font-size: 40px;
	}
	button {
		height: 20px;
		width: 400px;
	}
	.ballot-form{
		width: 600px;
		
	margin-left: 350px;
		border: 1px solid $gray;
		border-radius: 4px;
		div{
			font-size: 22px;
			margin: 10px 0px;
		}
	}
}